<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>The Big Picture - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'AppCoder/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
   <style>
body
    
    { 
  
      background-image: url("https://st3.depositphotos.com/2800301/18905/i/1600/depositphotos_189055042-stock-photo-japan-traditional-sumi-e-painting.jpg");
      background-repeat: no-repeat;
      background-size: cover
  
  }
  



   </style>    

 


        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">Taller de Pintura</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" 
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span 
                class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" href="{% url 'AppCoder-inicio' %}">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'AppCoder-Galeria' %}">Galeria</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'AppCoder-Taller' %}">Taller</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'AppCoder-Contacto' %}">Contacto</a></li>
                        <li>class="nav-item"><a class="nav-link" href="{% url 'AppCoder-busquedaAlumnos' %}">Buscar alumno</a>

                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content-->
        <section>
      

            <div class="container px-4 px-lg-5">                
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-6">                        
                        <h1 class="mt-5">Taller de pintura</h1>
<br>
<br>

                        <p>Te presento mi taller: podes inscribirte, mirar mis obra o mandarme mensajes! 
                            
                            
                    </div>
                </div>
            </div>                         

             </div>    
        

        </section>
        
        
        <!--Esto es lo que va a cambiar-->
       
       
        {% block contenido %}


        {% endblock %}

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
